<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cwt.phonerepair">



    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.location" android:required="true" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneRepair">
        <activity
            android:name=".storeactivity.AddProductActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".storeactivity.ProductManagementActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".storeactivity.StoreProductOrderDetails"
            android:exported="true" />
        <activity
            android:name=".storesservicedetails.StoreServiceDetailsCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".storesservicedetails.StoreServiceDetailsAcceptActivity"
            android:exported="true" />
        <activity
            android:name=".storesservicedetails.StoreServiceDetailsRejectedActivity"
            android:exported="true" />
        <activity
            android:name=".storesservicedetails.StoreServiceDetailsPendingActivity"
            android:exported="true" />
        <activity
            android:name=".storeactivity.StoreServiceOrderActivity"
            android:exported="true" />
        <activity
            android:name=".storeactivity.StoreWalletActivity"
            android:exported="true" />
        <activity
            android:name=".storeactivity.StoreProfileActivity"
            android:exported="true" />
        <activity
            android:name=".storeactivity.StoreHomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SubscribeNewStoreActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.SubscriptionPlanActivity"
            android:exported="true" />
        <activity
            android:name=".activity.serviceActivity.ServiceDetailsPendingActivity"
            android:exported="true" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RateUsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.AddAddressActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.OrderPlacedSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ProductDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AllProductActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ServiceRequestSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AddressActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ConfirmServiceActtivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.BookServiceActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.StoreDetailsActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".activity.AllStoresActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".activity.VerifyOtpActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.MobileLoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SignupScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.LoginScreenActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.serviceActivity.ServiceDetailsAcceptActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.serviceActivity.ServiceDetailsRejectActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".storeactivity.StoreProductOrdersActvity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.serviceActivity.ServiceDetailsCompleteActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyAV5_zjsBpHKLv3BzNUytjul6CCJNprjDk"/>

</manifest>